*.obj
*.tlog
*.log
*.vcxproj
*.ipch
*.exe
*.pdb
*.suo
*.psess
*.vsp
*.vspx
*.cache
.vs/
ChessEngine/Debug/
ChessEngine/Release/
ChessEngine/x64/
ChessEngine/ChessEngine/x64/
ChessEngineWrapper/Debug/
ChessEngineWrapper/Release/
ChessEngineWrapper/x64/
ChessEngineWrapper/ChessEngineWrapper/x64/